<!DOCTYPE html>
<html lang="en" ng-app="lightsApi">

<head>
  <title>LightsApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="css/include/bootstrap.min.css" rel="stylesheet">
  <link href="css/include/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/lights.css" rel="stylesheet">
</head>

<body ng-controller="lightsController">
  <div class="container-fluid" ng-repeat="(Zone, Lights) in ItemsBy('Zone')">
    <div class="row">
      <h1 class="col-xs-12">
        {{Zone}}
      </h1>
    </div>
    <div class="lights row" ng-repeat="L in Lights | orderBy: 'Name'">
      <div class="col-xs-6 col-md-6 progress col-lg-6">
        <div class="progress-bar-warning" role="progressbar" aria-valuenow="{{L.LevelPct}}" aria-valuemin="0" aria-valuemax="100" style="width:{{L.LevelPct}}%;">

          <div class="name">{{L.Name}}<span class="status">{{L.Status}}</span></div>
        </div>
      </div>
      <span class="col-xs-6 col-md-4 col-lg-3">
        <span class="btn-group btn-group-lg btn-group-justified">
          <span class="glyphicon glyphicon-chevron-up btn btn-lg btn-primary" ng-click="Update(L, '~50');"></span>
          <span class="glyphicon glyphicon-chevron-down btn btn-lg btn-primary" ng-click="Update(L, '~20');"></span>
          <span class="glyphicon glyphicon-off btn btn-lg btn-danger" ng-click="Update(L, '~toggle');"></span>
        </span>

      </span>
      <span class="col-md-2 col-lg-3">

      </span>
    </div>

  </div>

  <!-- JavaScript includes -->
  <span>
    <script src="js/include/jquery.min.js"></script>
    <script src="js/include/bootstrap.min.js"></script>
    <script src="js/include/angular.min.js"></script>
    <script src="js/include/angular-resource.min.js"></script>
    <script src="js/include/lodash.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/lights.js"></script>
  </span>

</body>

</html>
